<!DOCTYPE>
<html ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <title>
        MEAN - Records
    </title>
</head>
<body>
<div class="container" ng-controller="appCtrl as ctrl">
    <h1>MEAN - Records app</h1>

    <div class="row" ng-repeat="device in ctrl.deviceStatus">
        <div class="col-md-4">
            <label>{{device.deviceName}}</label>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.sendRequestToServer(device, 'ON')">ON
                    </button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.sendRequestToServer(device, 'OFF')">OFF
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Device Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="device in ctrl.deviceStatus">
                    <td>{{device.deviceName}}</td>
                    <td>{{device.deviceStatus}}</td>
                </tr>
                </tbody>
            </table>
    </div>

    <div class="row">
        <form class="col-md-4">
            <div class="form-group">
                <label for="deviceName">Device Name:</label>
                <input type="text" class="form-control" id="deviceName" ng-model="ctrl.deviceInfo.deviceName">
            </div>
            <div class="form-group">
                <label>Device Status</label>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-model="ctrl.deviceInfo.deviceStatus='ON'">
                            ON
                        </button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default"
                                ng-model="ctrl.deviceInfo.deviceStatus='OFF'">OFF
                        </button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-click="ctrl.createNewDevice()">Submit</button>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
